*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  font: 80px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 550px;
  min-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

header{
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;  
  display: flex;
  color:#b83f45;    
}

h1{
  font-size: 80px;
  font-weight: 200;
}


.main{
  width: 100%;
  text-align: center;
  display: flex;
  background-color: transparent;
  
}

#todo-list{
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.003);

}

#input-field{
  width: 100%;
  height: 64px;
  padding: 16px;
  font-size: 24px;
  border: none;
  box-shadow: inset 0 -2px 3px rgba(0,0,0,0.03);
}